body{
    background-color: black;
    max-height: 100%;
    margin: 0;
}

#canvas1{
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

#player {
    position: absolute;
    transform: scale(2.2);
    bottom: 5%;
    left: 100px;
}


.correr {
    width: 80px;
    height: 50px;
    background: url("/tpjuego/image/Run-Sheet.png") repeat-x;
    animation: correr .6s steps(8) infinite;
}

.muerte {
    width: 80px;
    height: 50px;
    background: url("/tpjuego/image/Dead-Sheet.png") repeat-x;
    animation: muerte 0.9s steps(7) forwards;
}
@keyframes muerte {
    from { background-position: 0 }
    to { background-position: -560px }
  }


.saltar {
    width:63.5px;
    height: 64px;
    background: url("/tpjuego/image/Jump-Start-Sheet.png");
    animation: saltar .4s steps(4) forwards; 
    
    }

    .caer {
        width:63.5px;
        height: 64px;
        background: url("/tpjuego/image/jump-end.png");
        animation: caer .4s steps(4) forwards;
    }

@keyframes correr {
    from { background-position: 0 }
    to { background-position: -640px }
  }

@keyframes saltar {
    
    from {        
        background-position: 0px;
        bottom: 15%;
    }
    to {
        background-position: -254px;
        bottom: 45%;
    }
   
}

@keyframes caer {
    from {
        background-position: 0px;
        bottom: 35%;
    }
    to {
        background-position: -254px;
        bottom: 5%;
    }
}


.item{
    position: absolute;
    bottom: 30%;
    width: 20px;
    height: 20px;
    transform: scale(2);
    background: url("/tpjuego/image/item.png") repeat-x;
    animation: item 2.5s forwards linear;
}

@keyframes item{
    from { 
        left: 90%;
    }
    to { 
        left: -10%;
    }
}

.enemy {
    position: absolute;
    bottom: 35px;
    width: 38px;
    height: 30px;
    transform: scale(3);
    background: url("/tpjuego/image/walk-Sheet.png") repeat-x;
    animation: enemigo 2.5s forwards linear,  enemigoMove 0.5s steps(8) infinite;
}

@keyframes enemigoMove {
    from { 
        background-position: 0px }
    to { 
        background-position: -384px }
}

@keyframes enemigo {
    from { 
        left: 90%;
}
    to { 
        left: -10%;
}

}
#counter{
    position: absolute;
    background-color: black;
    width: 100px;
    height: 25px;
    left: 45%;
    margin-top: 0;
}
#record{
    position: absolute;
    background-color: black;
    width: 120px;
    height: 25px;
    left: 0;
    margin-top: 0;
}
h2{
    color: white;
    text-align: center;
}
#gameover{
    position: absolute;
    font-family: cursive;
    background-color: red;
    width: 200px;
    height: 40px;
    left: 41%;
    margin-top: 20%;
}
#restart{
    position: absolute;
    font-family: cursive;
    font-style: italic;
    background-color: green;
    width: 150px;
    height: 40px;
    left: 43%;
    margin-top: 25%;
}
a{
    text-decoration: none;
}
#backIndex{
    width:1360px;
    height:650px;
    position: relative;
    display: inline-block;

}
#startGame{
    color: white;
    font-size: 50px;
    font-family: cursive;
    font-style: italic;
    background-color: rgb(161, 33, 33);
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#info{
    color: white;
    font-family: cursive;
    font-style: italic;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
#data{
    background-color: green;
}